
.responsive-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    
}

.responsive-table th {
    background: linear-gradient(180deg, #5A84C0 0%, #594ED2 100%);
    color: white;
    padding: 1rem;
    text-align: left;

    font-size: 0.875rem;
    line-height: 1.6;
} 
.responsive-table img {
    width: 34px;
    height: 34px;
    border-radius: 50%;

}


th:first-child {
    border-top-left-radius: 0.5rem;
    padding-left: 1.5rem;
}
th:last-child {
    border-top-right-radius: 0.5rem;
    padding-right: 1.5rem;
}

.responsive-table th, .responsive-table td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}

@media (max-width: 767px) {
    .desktop-only {
        display: none;
    }

   
    .responsive-table th:nth-child(n+3), .responsive-table td:nth-child(n+3),
    .responsive-table th:nth-child(n+4), .responsive-table td:nth-child(n+4),
    .responsive-table th:nth-child(n+5), .responsive-table td:nth-child(n+5) {
        display: none;
    }


    .mobile-header {
        display: table-header-group;
    }

    .mobile-header th:nth-child(1), .mobile-header td:nth-child(1),
    .mobile-header th:nth-child(2), .mobile-header td:nth-child(2),
    .mobile-header th:nth-child(3), .mobile-header td:nth-child(3) {
        display: table-cell;
    }
}

