.responsive-table {
    width: 100%;
    border-collapse: collapse;
}

.responsive-table th, .responsive-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.responsive-table td {
    background-color: white;
}

.responsive-table th {
    background: linear-gradient(180deg, #5A84C0 0%, #594ED2 100%);
    color: white;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.8;
}

th:first-child {
    border-top-left-radius: 0.5rem;
    padding-left: 1.5rem;
  }

th:last-child {
    border-top-right-radius: 0.5rem;
    padding-right: 1.5rem;
}
.responsive-table img {
    width: 34px;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .responsive-table th.desktop-only, 
    .responsive-table td.desktop-only {
        display: none;
    }

    .mobile-only {
        display: table-cell;
    }

    .details-row {
        display: none;
    }

    .details-row.visible {
        display: table-row;
    }
}

@media (min-width: 769px) {
    .mobile-only {
        display: none;
    }

    .hidden-cell {
        display: table-cell;
    }
}